:root {
    margin: 0;
    padding: 0;
    font-family:"PT Sans";
    background-color: #F9F2EC;
    /* spacing: 1rem; */
    font-size: 90%;
    scroll-behavior: smooth;
    line-color: #1c00db; 
    line-thickness: 1px;
    line-style: solid;
}

.nav {
    text-align: center;
    margin-top: -1rem;
    margin-left:-2rem;
    margin-right:-2rem; 
    border: 1px solid #1c00db;

    li {
    padding: 1rem;
    border-top: 1px solid #1c00db;
    }
}

h1 {
    font-family:"Fjalla One";
    font-size: 3.5rem;
    line-height: 3.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1rem #1c00db; 
}

.info {
    margin-left: -1rem;
    margin-right: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.info li {
    flex: 1;
    border: 1px solid #1c00db;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

section {
    margin:1rem;
    padding: 0rem 0rem 2rem 0rem;

    h3 {
        font-weight: bold;
        background-color: #1c00db;
        color: white;
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        margin-right: -2rem;
        margin-left: -2rem;
    }
    p{
        margin-left: 1rem;
    }
}

.quote {
    margin-top: 1.5rem;
    font-style: italic;
    text-wrap: pretty;
    padding: 1rem 1rem 1.5rem 2rem; 
    line-height: 1.5rem;
    
    border: .5em solid #1c00db;
    border-radius: 4%;
    
    blockquote {
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-family:"Fjalla One";
    font-style:normal;
    font-size: 1.7rem;
    line-height: 2.2rem;
}
}

footer {
    padding: 2rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    bottom: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
}