:root {
        background-color: #ffffff;
        spacing: 1rem;
	font-size: 110%;
    scroll-behavior: smooth;
    }
    
    body {
        font-family: 'helvetica', sans-serif;
        font-size: 1rem;
        line-height: 1.6;
        padding: 1rem;
        text-align: left;
    }
