:root {
    --black: #333333;
    --white: #FAF7F4;
    --dark-gray: #545454;

    --purple: #9dd4e3;
    --yellow: #ffe4af;
    --pink: #ffc9ff;

    --display: 2.5rem;
    --headline: 1.8rem;
    --title: 1.25rem;
    --quote: 1.5rem;
    --body: 1rem;
    --footnote: 0.75rem;

    background-color: var(--black);
    color: var(--white);
    spacing: 1rem;
    font-size: 95%;
    scroll-behavior: smooth;
    text-wrap: pretty;
}

@font-face {
    font-family: "Cabin";
    src: url("Fonts/Cabin/Cabin-Regular.ttf") format("truetype");
    }

 @font-face {
    font-family: "Krub";
    src: url("Fonts/Krub/Krub-Regular.ttf") format("truetype");
    }

@font-face {
    font-family: "Roboto-Condensed";
    src: url("Fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
    }

    section {
        margin-top: 4rem;
    }

body {
    font-family: "Cabin", sans-serif;
    font-size: var(--body);
    padding-left: 1rem;
    padding-top: 1rem;
}

h1 {
    font-family: "Roboto-Condensed", sans-serif;
    font-size: var(--title);
}

h2 {
    font-family: "Roboto-Condensed", sans-serif;
    font-size: var(--title);
}

h3 {
    font-family: "Cabin", sans-serif;
    font-size: var(--title);
    margin-left: -1rem;
    margin-right: -1rem;
    background-color: #1a1a1a; 
    color: var(--white); 
    padding: 1rem;
    font-weight: bold;
}

.quote {
    font-size: 1rem;
}

.quote blockquote {
    font-family: 'Krub';
    font-size: var(--quote);
    line-height: 2rem;
}
/*                                                                                  PROGRESS BAR */
.reading-progress-bar-container { 
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--dark-gray);
    z-index: 999;
}

.reading-progress-bar {
    height: 10px;
    background: var(--purple);
    animation-name: width;
    animation-duration: 1s; 
    animation-timeline: scroll(root block);
    animation-fill-mode: both;
}

@keyframes width {
    from {width: 0%;}
    to   {width: 100%;}
}

/*                                                                                  NAVIGATION */
 nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        height: auto; 

    .li {
            background-color: var(--white);
            color: var(--black);
        }
    }

/*                                                                                     FOOTER */
    footer {
        font-family: "Cabin", sans-serif;
        font-size: var(--footnote);
    }