
    .card {
        background-color: azure;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        border-radius: 5px;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      img {
        border-radius: 5px 5px 0 0;
      }
      
      .container {
        padding: 2px 16px;
      }
    /*                                                                                                   media queries */


    body {
        font-family: 'helvetica', sans-serif;
        font-size: 1rem;
        line-height: 1.6;
        padding: 1rem;
        text-align: left;
    }
    em{
        font-style: italic;
}

a {
    text-decoration:underline;
    text-underline-offset: .25rem;  
}


body{
    background-color: black;
    color: whitesmoke;
}
.nav {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 1rem;
}

section {
    margin-top: 4rem;
}

p {
    margin-left: 1rem;
    margin-top: 1rem;
    text-wrap: pretty;
}

h1 {
    font-family: "Stack Sans Text", sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 3rem;
}

.spread {
    display: flex;
    justify-content: space-between;
    font-size: 3.5rem;
    width: 100%;
    padding-top: 3rem;
}

.subhead {
    font-size: 1.3rem;
    justify-content: center;
    font-weight: normal;
    letter-spacing: 0.02em;
}

h3 {
    margin-left: -1rem;
    margin-right: -1rem;
    background-color: #1a1a1a; 
    color: whitesmoke; 
    padding: 1rem;
    font-weight: bold;
}

.quote {
    font-size: 1rem;
}

.quote blockquote {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    line-height: 2rem;
}

footer {
    padding: 2rem;
    background-color: #1a1a1a; 
    color: whitesmoke; 
    font-size: 1rem;
    bottom: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
}

a {
    color: #66b3ff; 
}

a:hover {
    color: #99ccff;
} */