/* TASKS
[] fix boxes for nav 
[] padding
[] write colophon
[] write intro 
[] style footer  
 */

.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .main-nav li {
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: black;
  
    border-radius: 2rem;
    overflow: hidden;
  }
  
  .card-content {
    padding: 2rem;
    flex-grow: 1;
  }
  
  /* CARD COLORS USING nth-child */
.main-nav li:nth-child(1) .card-content {
  background-color: #9DD4E3;
}

.main-nav li:nth-child(2) .card-content {
  background-color: #FFE4AF
}

.main-nav li:nth-child(3) .card-content {
  background-color: #FFD5FF;
}

  .card-footer {
    background: var(--white);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Tablet */
  @media (min-width: 600px) {
    .main-nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  
      align-items: stretch; 
  }
  
  @media (min-width: 900px) {
    .main-nav {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
@media (min-width: 900px) {
  .main-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}