:root {
    --black: #333333;
    --white: #FAF7F4;
    --dark-gray: #545454;

    --purple: #9dd4e3;
    --yellow: #ffe4af;
    --pink: #ffc9ff;

    --display: 2.5rem;
    --headline: 1.8rem;
    --title: 1.25rem;
    --callout: 1.5rem;
    --body: 1rem;
    --footnote: 0.75rem;

    background-color: var(--black);
    color: var(--white);
    spacing: 1rem;
    font-size: 110%;
    scroll-behavior: smooth;
}

.reading-progress-bar-container { 
    position: fixed;
    top: 0px;
    width: 100%; 
    background:var(--dark-gray);
    z-index: 999;
}
    
.reading-progress-bar { 
    height: 10px; 
    background:var(--yellow);
    animation-name: width;
    animation-timeline: scroll(y);
    }

    @keyframes width {
        from {width: 0}
        to { width: 100% }
    }