.selected {
	color: var(--mismatch);
}


h2 {
	background-color: var(--mismatch);
	color: var(--black);
}

.quote {
	background-color: var(--mismatch);
}

header{
	background: var(--mismatch);
}

.content a:hover {
	background-color: var(--mismatch);
}